@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  hr {
    @apply border-neutral-200;
  }
}

@layer components {
  .link {
    @apply underline underline-offset-[3px] decoration-neutral-400 dark:decoration-neutral-500;
    @apply hover:text-[#DAA520] hover:decoration-[#DAA520] transition-colors;
    @apply dark:hover:text-white dark:hover:decoration-white;
  }

  .layout-md {
    @apply max-w-screen-md mx-auto px-4 sm:px-6;
  }

  .heading2 {
    @apply text-[#DAA520] text-xl font-semibold mb-4;
  }
}

html {
  @apply motion-safe:scroll-smooth;
}

body {
  @apply /* antialiased */ py-12 sm:py-24 md:py-32 text-[#BBBBBB] bg-[#282828];
}

::selection {
  @apply bg-neutral-600 dark:bg-neutral-600;
}
span.underline-yellow {
  text-decoration: underline;
  text-decoration-color: #DAA520;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

span.underline-orange {
  text-decoration: underline;
  text-decoration-color: #f5a623;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

span.underline-green {
  text-decoration: underline;
  text-decoration-color: #42b983;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

span.underline-red {
  text-decoration: underline;
  text-decoration-color: #f36170;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

.dark {
  color-scheme: dark;
}
